<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CopyAndShare</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.gogleapis.com" crossorigin>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter&display=swap">
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="logo">
                <h1>CopyAndShare</h1>
                Here you can simply copy and share your code!
            </div>
            <button type="submit" form="textForm">Share!</button>
        </div>
        <div class="buttons">
            <button id="changeSpacingButton">Tabs</button>
        </div>
        <div class="code-editor">
            <div id="numberLine"><div>1</div></div>
            <form id="textForm" method="post" action="/create">
                <textarea name="textarea" id="editor" oninput="changeLines()" placeholder="Start writing here!" spellcheck="false"></textarea>
            </form>
        </div>

    </div>
</body>
<script src="{{ url_for('static', filename='script.js') }}"></script>
</html>